html, body {
  max-width: 98%;
  height: 100%;
  margin: 0;
  padding: 0;
}

NavBar {
  display: flex;
  justify-content: center;
}

#StartContainer {
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  max-width: 100%;
  width: 100%; 
  max-height: 50%; 
  margin: 0 20px;
  box-sizing: border-box; 
}

.subStart1 {
  display: flex;
  flex-direction: flex-start; 
  max-width: 630px; 
  margin: 10px 20px 20px 0; 
  padding: 0; 
}

.subStart2 {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-left: 45px;
  padding: 0;
}

.col-lg-6 {
  width: 100%;
  height: auto;
  background-color: #4B8CBA;
  margin-top: 40px;
  border: 10px solid #4B8CBA;
  border-radius: 15px;
  max-width: 100%;
  position: relative;
}

.exProperties {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.poseFeedback {
  display: flex;
  justify-content: center;
}

.poseIcon {
  width: 70px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -50px;
}

.Timer {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  color: #4B8CBA;
  font-weight: 200;

  margin: 0px;
  margin-top: -30px;
  padding: 0px;
}



/*---------------------------*
|                            |
|       EXERCISE CARD        |
|                            |
*---------------------------*/

.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 90%;
  height: 400px; /* Adjusted height */
  margin-right: 80px;
}

/*-------------------------------------------*
|                                            |
|  SUBCARD1 (IMAGE) AND SPECIFIC COMPONENTS  |
|                                            |
*-------------------------------------------*/

.subCard1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  max-width: 100%; 
  margin-top: 40px;
}

.ExerciseImage {
  border-radius: 10px;
  border: 8px solid #AA3B98;
  box-shadow: 4px 8px 8px -8px rgba(64, 64, 64, 0.5); 
  width: 250px; 

  margin: 10px;
}

/*-----------------------------------*
|                                    |
|  SUBCARD2 AND SPECIFIC COMPONENTS  |
|                                    |
*-----------------------------------*/

.subCard2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #AA3B98;
  border-radius: 10px;
  border: 1px solid white;
  width: 100%;
  padding: 20px;
}

/*---------------------------*
|                            |
|    HEADER AND SUBHEADER    |
|                            |
*---------------------------*/

h2 {
  font-family: "Jura", sans-serif; 
  color: white;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 0;
  margin: 0;
}

.ExDuration {
  font-family: "Inter", sans-serif; 
  color: white;
  font-style: italic;
  font-size: 15px;
}

/*---------------------*
|                      |
|   CARD BUTTONS CSS   |
|   + hover feature    |
|                      |
*---------------------*/

button {
  padding: 13px 20px;
  margin: 10px;
  border-radius: 15px;
  border: 3px solid white;
  font-family: "Inter", sans-serif; 
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.ExButtons {
  display: flex; /* Fixed flex syntax */
  flex-direction: row;
}

.PauseEx {
  background-color: #F5B82E;
}

.PauseEx:hover {
  background-color: #fbf0e5;
  box-shadow: 4px 8px 8px -8px rgba(64, 64, 64, 0.5); 
  color: #F5B82E;
  border: 3px solid #F5B82E;
}

.NextEx {
  background-color: #3a9546;
}

.NextEx:hover {
  background-color: #dff1e1;
  box-shadow: 4px 8px 8px -8px rgba(64, 64, 64, 0.5); 
  color: #3a9546;
  border: 3px solid #3a9546;
}

.EndEx {
  background-color: #c94d60;
}

.EndEx:hover {
  background-color: #f0d1d6;
  box-shadow: 4px 8px 8px -8px rgba(64, 64, 64, 0.5);
  color: #c94d60;
  border: 3px solid #c94d60;
}

.ExDesc {
  font-family: "Inter", sans-serif; 
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
}

.captured {
  display: flex;
}

.col-lg-7 {
  display: none;
  visibility: 0;
}

/*----------------------*
|                       |
|    MOBILE VIEW CSS    |
|                       |
*----------------------*/

@media (max-width: 768px) {
    #StartContainer {
      display: flex; 
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      margin: 0; 
      padding: 0; 
      box-sizing: border-box; 
    }

    .subStart1 {
      display: flex; 
      flex-direction: column; 
      justify-content: center;
      align-items: center; 
      width: 100%; 
      margin-bottom: 10px; 
      height: auto;
    }

    .row {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      width: 100%; 
      max-width: 300px; 
      height: auto;
      margin: 0; 
      padding: 0; 
    }

    .Card {
      display: flex;
      flex-direction: row; 
      align-items: flex-start; 
      width: 100%; 
      max-width: 630px; 
      margin: 0; 
      padding: 0; 
    }

    .subCard1 {
      display: flex;
      justify-content: center; 
      align-items: center;
      flex: 1; 
      margin: 0; 
    }

    .subCard2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; 
      flex: 1; 
      margin: 0; 
    }

    .ExerciseImage {
      border-radius: 10px;
      border: 8px solid #AA3B98;
      box-shadow: 4px 8px 8px -8px rgba(64, 64, 64, 0.5);
      width: 100px; 
    }

    .ExButtons {
      display: flex; 
      flex-direction: row;
      justify-content: flex-start; 
      margin-top: 10px;
    }

    button {
      padding: 10px 15px;
      margin: 5px;
      border-radius: 10px;
      border: 3px solid white;
      font-family: "Inter", sans-serif; 
      color: white;
      font-weight: 600;
      font-size: 12px;
    }

    .ExDesc {
      text-align: center; 
    }

    h2 {
      font-size: 15px;
      letter-spacing: 3px;
      padding: 0;
      margin: 0;
    }
  }

  /*-------------------------------*
  |                                |
  |    CSS for Rotated Devices     |
  |                                |
  *-------------------------------*/


    @media only screen and (orientation: landscape) and (max-width: 768px) {
      #StartContainer {
        display: flex; 
        flex-direction: row; 
        justify-content: center;
        align-items: center;

        max-width: 100%;
      }
      
      .Card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: auto;
        margin: 0;
        padding: 0;
      }

      .
      .col-lg-6 {
        width: 400px;
        margin: 0px;
      }

      
      .subStart2 {
        margin: 0px;
      }
      
      .subCard2 {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-left: 10px;
      }

      .ExDesc {
        display:none;
      }

      .ExButtons {
        display: flex; 
        flex-direction: column;
        justify-content: flex-start; 
        margin-top: 10px;
      }
      
      .ExerciseImage {
        border-radius: 10px;
        border: 8px solid #AA3B98;
        box-shadow: 4px 8px 8px -8px rgba(64, 64, 64, 0.5);
        width: 100px; 
      }

      h2 {
        font-family: "Jura", sans-serif; 
        color: white;
        font-style: italic;
        font-size: 15px;
        letter-spacing: 3px;
        padding: 0;
        margin: 0;
      }
    }

}