.PopUpContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  align-text: center;

  flex-direction: column;
  
  background: white;
  width: 270px;
  
  border-radius: 10px;
  border: 5px solid #4B8CBA;
  
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px 20px 0px 20px;

}

.PopUpText{
  justify-content: center;
  align-content: center;
  text-align: center;
}

.endPopUpTitle {
  font-family: "Jura", sans-serif;
  font-size: 25px;

  padding: 0px;
  margin: 0px;

  margin-bottom: 20px;
}

.PopUpDesc {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 200;
  padding: 0px;
  margin: 30px 10px;
}

.popUpSun {
  align-self: center;
  width: 60px;

  margin-top: 25px;
  padding: 5px;
}

.EndButtons {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-self: center;
  align-content: center;
  text-align: center;
  justify-content: center;

  margin: 0px;
}

.endPopUpButton {
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  
  
  width: 90px;
  height: 40px;

  border: 0px;
  border-radius: 15px;

  margin: 0px;
  margin-right: 5px;
  margin-bottom: 30px;

  color: white;
  background-color: #4B8CBA;

  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 17px;

  padding:5px;

  visibility: 0;
}

.endPopUpButton2 {
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;


  width: 110px;
  height: 70px;

  border: 0px;
  border-radius: 15px;

  margin: 15px;
  margin-bottom: 45px;
  margin-top: 15px;

  color: white;
  background-color: #4B8CBA;

  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 17px;

  padding:5px;
}

.endPopUpButton:hover {
  cursor: pointer;
  color: #4B8CBA;
  background-color: #9fd3f9;

  border: 5px solid #4B8CBA;
  padding: 0px;
}

.endPopUpButton2:hover {
  cursor: pointer;
  color: #4B8CBA;
  background-color: #9fd3f9;

  border: 5px solid #4B8CBA;
  padding: 0px;
}